node_modules
.tmp
.idea
dist
.publish
__*
*.zip
.DS_Store
*.pyc
!__init__.py
*local.*
!*local.sample*
lib
pymysql
build
*.egg-info
env.export.sh
config.json
.*.local
src/*
!src/requirements.txt
bin
include
lib
.Python
migration
